h2 {
    text-align: center; 
}

.projeto {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 20px; 
    padding: 15px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: white; 
}

h3 {
   margin-left: 10px;
}

p {
    margin: 0; 
    padding-bottom: 10px;
}
img {
    border: 10px  ;
}
.projeto a {
    color: black;
    padding-top: 10px;
}
.projeto a:hover{
    color: #556B2F;
}
